body, html {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 550;
}

.header {
    background-image: url("../img/pattern.png");
    background-size:contain;
    background-position: center;
    position: relative;
    height: 150px;
    background-color: rgb(24, 121, 181);
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.logo {
    height: 50px;
    width: auto;
}
main, footer {
    padding: 5px;

    /* DA INSERIRE PER BONUS */
     /* width: 70%;
    margin: auto; */
}

.titolone {
    margin:0;
}


h4 {
    margin:0;
    color: rgba(0, 0, 0, 0.5);
}

h4 > a {
    text-decoration: none;
    color: rgb(29, 159, 196);
 }

#article-date {
    font-size: 0.8em;
 }

figcaption {
    font-size: smaller;
    font-weight: 500;
 }

table {
    border-collapse:collapse;
    width: 100%;
 }
th {
    color: white;
    background-color:rgb(24, 121, 181);
 }
td, th {
    text-align: left;
    padding: 10px;
 }
tr:nth-child(even) {
    background-color: rgba(0, 255, 255, 0.3);
}

.featured-content {
    width: 200px;
    margin: 20px;
    display: block;
    position:relative;
}

.featured-content img {
    display: block;
    width: 100%;
    height: auto;
}
.featured-text {
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
 
